/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');



/*=====  VARIABLES COLORS  =====*/
:root {
  --c-brand: #135F00;
  --c-brand2: #000000;
  --c-dark: #111;
  --c-dark2: #222;
  --c-dark3: #333;
  --gray: rgba(42, 53, 62, 0.4);
  --textColor: #F2FAFF;
  --c-textContact: #fff;
  --c-light: #fff;
  --c-light2: #ccc;
  --c-colorbtn: #F2FAFF;

  --sidebar-hsl: 210, 44%, 15%;
  
  --transition: all .4s cubic-bezier(.165, .84, .44, 1);
  --border-radius-lg: 2.4rem;
  --border-radius: 1.2rem;
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}



.light-mode {
  --c-brand: #135F00;
  --c-brand2: #ffffff;
  --c-dark: #ccc;
  --c-dark2: #dadada;
  --c-dark3: #bdbdbd;
  --gray: rgba(42, 53, 62, 0.4);
  --textColor: #000000;
  --c-textContact: #111;
  --c-light: #080808;
  --c-light2: #111111;
}

/*===========  /VARIABLES COLORS  ===========*/



/*=====  GERAL  =====*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  border: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  background: var(--c-dark);
  color: var(--textColor);
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*===========  /GERAL  ===========*/



/*===== Sub title da sessão =====*/

section {
  padding: 5rem 0;
}

.section-title {
  padding-bottom: 4rem;
  position: relative;
}

.sub-title {
  color: var(--c-brand);
  font-size: 11px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*===== Sub title da sessão =====*/



/*=====   NAVBAR DE INÍCIO  =====*/

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--c-dark2);
  transition: var(--transition);
}

.navbar.scrolled {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--c-dark2);
  box-shadow: var(--shadow);
}

.navbar .logo a span {
  color: var(--c-brand);
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 700;
  color: var(--textColor);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active  {
  color: var(--c-brand);
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: var(--textColor);
}

.social-icon  {
  width: 36px;
  height: 36px;
  background-color: var(--c-brand);
  color: var(--c-colorbtn);
  border: 2px solid var(--c-brand);
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.social-icon:hover {
  color: var(--c-brand);
  background-color: transparent;
}

/*===========  /NAVBAR DE INÍCIO  ===========*/



/*===========  MENU MOBILE  ===========*/

.menu-btn {
  color: var(--c-light);
  font-size: 36px;
  cursor: pointer;
  display: none;
}

/*===========  /MENU MOBILE  ===========*/



/*===== HOME DE INÍCIO =====*/

#hero {
  background: /*linear-gradient(hsla(var(--sidebar-hsl), 0.9), hsla(var(--sidebar-hsl), 0.9)),*/ url(../img/background/img_3.jpg);
  background-position: center;
  background-size: cover;
}

#hero span {
  color: var(--c-brand);
  transition: all 0.3s ease;
}

#hero a{
  display: inline-flex;
  background: var(--c-brand);
  color: var(--c-colorbtn);
  font-size: 15px;
  padding: 6px 16px;
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid var(--c-brand);
  align-items: center;
  margin-right: 6px;
}

#hero a:hover {
  color: var(--c-brand);
  background: none;
}

/*===== /HOME DE INÍCIO =====*/



/*=====  AJUSTE TOTAL NO CÓDIGO  =====*/

section {
  padding: 100px 0;
}

section .title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--c-dark);
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: var(--c-light);
  color: var(--c-brand);
  padding: 5px;
  transform: translateX(-50%);
}

.about, .services, .skills, .teams, .contact, footer {
  font-family: 'Open Sans', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*===========  /AJUSTE TOTAL NO CÓDIGO  ===========*/



/*=====  SESSÃO SOBRE  =====*/

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: var(--c-brand);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: var(--c-brand);
  color: var(--c-colorbtn);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--c-brand);
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: var(--c-brand);
  background: none;
}

.about .about-content .left img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}

.exp {
  background-color: var(--c-dark2);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.15);
}

.exp-number {
  margin-top: 20px;
  margin-bottom: -3px;
}

/*===========  /SESSÃO SOBRE  ===========*/



/*=====  SESSÃO CONHECIMENTOS  =====*/

.grid{
  display: grid;
  gap: 2.4rem;
}

.three-col-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width:760px) {
  .three-col-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:576px) {
  .three-col-grid {
    grid-template-columns: 1fr;
  }
}

/* Services */
#services .card p {
    margin-bottom: 0;
}

.card {
    transition: all 0.4s ease;
    border-radius: var(--border-radius-lg);
    background-color: var(--c-dark2);
}

.card-padding {
    padding: 3.2rem;
}

.card img {
    border-top-right-radius: var(--border-radius-lg);
    border-top-left-radius: var(--border-radius-lg);
}

.icon ion-icon{
    width: 6.4rem;
    height: 6.4rem;
    font-size: 3.2rem;
    border-radius: var(--border-radius);
    background-color: var(--c-brand);
    color: var(--c-dark2);
    text-align: center;
    display: grid;
    align-content: center;
    margin-bottom: 1.8rem;
}

.card:hover {
    box-shadow: 0 0 0 0.3rem var(--c-brand);
    transform: translateY(-0.5rem);
}

/*=====  /SESSÃO CONHECIMENTOS  =====*/



/*=====  SESSÃO PROJETOS  =====*/

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .left a {
  display: inline-block;
  background: var(--c-brand);
  color: var(--c-colorbtn);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--c-brand);
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: var(--c-brand);
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  width: 100%;
  height: 5px;
  background: var(--c-light2);
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--c-brand);
}

.skills .skills-content .right .html::before {
  width: 0%;
}

.skills .skills-content .right .css::before {
  width: 70%;
}

.skills .skills-content .right .js::before {
  width: 100%;
}

.skills .skills-content .right .php::before {
  width: 47%;
}

.skills .skills-content .right .mysql::before {
  width: 0%;
}

/*===========  /SESSÃO PROJETOS  ===========*/



/*===== Novo projetos =====*/

#projects {
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.col-lg-4,
.col-md-6 {
  padding: 0 15px;
  margin-bottom: 30px;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.project-item:hover img {
  transform: scale(1.05);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  font-size: 24px;
  color: var(--c-colorbtn);
  margin-bottom: 10px;
}

.project-overlay p {
  font-size: 16px;
  color: var(--c-colorbtn);
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  color: var(--c-brand);
  background-color: var(--c-dark2);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}


/*===== Novo projeto =====*/



/*===== SESSÃO EQUIPE =====*/

.teams .title::after {
  content: "Especializada";
}

.teams .carousel .card {
  background: var(--c-dark2);
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 30px 20px;
}

.card-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-text {
  color: #777777;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.list-unstyled {
  display: flex;
  justify-content: center;
}

.list-unstyled li {
  margin-right: 10px;
}

.list-unstyled li a {
  color: #777777;
  font-size: 24px;
}

.list-unstyled li a:hover {
  color: #3a3a3a;
}

/*=====*/



/*============= Social Links =============*/

.teams .links a {
  display: inline-block;
  color: var(--c-light);
  font-size: 20px;
  margin-top: 20px;
}

.teams .links li {
  list-style: none;
  display: inline-block;
}

.teams .links a:hover {
  color: var(--c-brand2);
  background: none;
}

/*============= /Social Links =============*/



.teams .carousel .card:hover {
  background: var(--c-brand);
}

.teams .carousel .card img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--c-brand);
  transition: all 0.3s ease;
}

.teams .carousel .card:hover img {
  border-color: var(--c-light);
}

.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
  transform: scale(1.05);
}

.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  width: 14px;
  height: 14px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--c-brand) !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 15px;
}

.owl-dot.active,
.owl-dot:hover {
  background: var(--c-brand) !important;
}

/*=========== /SESSÃO EQUIPE ===========*/



/*===== SESSÃO CONTATO =====*/

.contact-bg {
  background-color: var(--c-brand);
  height: 70vh;
  padding: 50px;
}

form input, textarea {
  color: var(--textColor) !important;
  background-color: var(--c-dark) !important;
  border: 3px solid var(--gray) !important;
}

.form-control::placeholder {
  color: var(--c-textContact);
}

@media screen and (max-width:974px) {
  .contact-bg{
      height: 40vh;
  }
}

/*=========== /SESSÃO CONTATO ===========*/



/*=====  RESPONSIVO  =====*/

@media (max-width: 1300px) {
  .navbar .max-width {
    margin-left: 0;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 991px) {
  .navbar .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .max-width {
    max-width: 800px;
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background: var(--c-dark);
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
.contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  footer {
    margin-top: 15px;
  }
}
@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}

/*===========  /RESPONSIVO  ===========*/



/*===== SCROLLBAR =====*/

::-webkit-scrollbar {
  width: 8px;
  border:8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-brand);
  border-radius: 15px;
}

/*=========== /SCROLLBAR ===========*/



/*=====  BOTÃO DE VOLTAR AO TOPO  =====*/

.scroll-up-btn {
  position: fixed;
  width: 41px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: var(--c-colorbtn);
  background: var(--c-brand);
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/*=========== /BOTÃO DE VOLTAR AO TOPO  ===========*/



/*=========== TEMA DA PÁGINA ===========*/

#theme-toggle {
  position: fixed;
  width: 41px;
  height: 45px;
  left: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: var(--c-colorbtn);
  background: var(--c-brand);
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

#theme-toggle {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/*=========== /TEMA DA PÁGINA ===========*/

